@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("../fonts/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a {
  text-decoration: none; }

body {
  font-family: 'open_sansregular';
  margin: 0; }

* {
  box-sizing: border-box; }

header {
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  padding: 0px 21px;
  align-items: center;
  flex-wrap: wrap; }
  header .logo-holder img {
    width: 14em; }
  header nav ul {
    margin: 0; }
    header nav ul li {
      list-style: none;
      display: inline-block; }
      header nav ul li a {
        font-family: 'open_sanssemibold';
        text-transform: uppercase;
        color: #343e48;
        display: block;
        font-size: 13px; }
        header nav ul li a:hover {
          color: #00a7e0; }
      header nav ul li:not(:last-child) {
        margin: 0 35px; }
      header nav ul li:last-child {
        transform: skewX(-10deg);
        background-color: #01a7e1; }
        header nav ul li:last-child a {
          transform: skewX(10deg);
          color: #fff;
          padding: 36px 23px; }

.Information-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 21px;
  justify-content: space-between;
  padding-top: 3em; }
  .Information-content .menu-holder {
    width: 20%; }
    .Information-content .menu-holder h4 {
      background-color: #e4e2e2;
      text-transform: uppercase;
      font-family: 'open_sanssemibold';
      margin-top: 0;
      padding: 8px 16px;
      border-radius: 10px; }
    .Information-content .menu-holder ul li {
      list-style: none;
      position: relative; }
      .Information-content .menu-holder ul li a {
        color: #343e48; }
      .Information-content .menu-holder ul li:before {
        content: '';
        background-color: #00a7e0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: inline-block;
        margin: auto;
        margin-right: 6px;
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0; }
  .Information-content .content-holder {
    width: 73%;
    border: 1px solid #efefef;
    border-top: 0;
    border-bottom: 7px solid #efefef;
    padding: 0 3em; }
    .Information-content .content-holder h1 {
      color: #00a7e0;
      text-transform: uppercase;
      margin-bottom: 0; }
    .Information-content .content-holder h2 {
      font-family: 'open_sanssemibold_italic';
      margin-top: 0;
      padding-left: 13px; }

#demo > div {
  display: flex;
  flex-wrap: wrap; }
  #demo > div .item {
    width: calc(100%/3 - 30px);
    margin: 15px;
    border: 1px solid #00a7e0;
    position: relative; }
    #demo > div .item .image-holder {
      height: 14em;
      background-position: center 29%;
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center; }
      #demo > div .item .image-holder .description {
        color: #fff;
        opacity: 0;
        transition: 1s;
        position: relative;
        z-index: 1; }
    #demo > div .item:hover .description {
      opacity: 1; }
    #demo > div .item:hover:before {
      content: '';
      background-color: rgba(7, 123, 163, 0.7);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      transition: 1s;
      z-index: 1; }

p {
  font-size: 14px;
  margin-bottom: 26px; }

.icon {
  display: none; }

@media (max-width: 991px) {
  nav {
    width: 100%;
    background-color: #00a7e0;
    top: 0;
    left: 0;
    z-index: 2;
    display: none; }

  .icon {
    display: block; }

  .Information-content .menu-holder {
    width: 100%;
    margin-bottom: 1em; }

  .Information-content .content-holder {
    width: 100%;
    padding: 0 1em; }

  #demo > div .item {
    width: calc(100%/2 - 10px);
    margin: 5px; }

  #demo > div {
    justify-content: center; }

  header .logo-holder {
    width: 50%; }

  header .logo-holder img {
    width: 10em; }

  header {
    padding: 8px 21px; }

  header nav ul {
    padding: 0; }

  header nav ul li {
    display: block;
    margin: 0 35px;
    margin-bottom: 10px; }

  header nav ul li:last-child {
    transform: skewX(0deg);
    background-color: transparent; }

  header nav ul li:last-child a {
    transform: skewX(0deg);
    color: #fff;
    padding: 0; }

  header nav ul li:not(:last-child) {
    margin: 5px 35px; }

  header nav ul li a {
    color: #fff; }

  .responsive {
    display: block;
    margin-top: 1em; } }
@media (max-width: 767px) {
  #demo > div .item {
    width: calc(100%/1 - 10px);
    margin: 5px; } }

/*# sourceMappingURL=main.css.map */
